<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
<% include partials/nav.ejs %>
<h1>Welcome to my home page!</h1>
<p>It's the best home page you'll ever see in your life!</p>
</body>
</html>